{% extends "super_admin/menu.html" %}

{% load static %}

{% block content %}


<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
           
                <div class="card-box ">
                    <div class="col-12 p-t-15">
                        <form action="edit_role_details_action" method="POST">

                            {% csrf_token %}

                            <input type="hidden" name="id" value="{{data.id}}">
                            <h4 data-toggle="collapse" href="#basic" class="sub_hdng_edit"><i
                                        class="fa fa-chevron-down"></i> Basic Detaiils</h4>
                            <div id="basic" class="panel-collapse collapse show">
                                <div class="m-t-30 m-b-15 acrdn_panel">
                                    <div class="row">
                                        <div class="col-md-6 colp_r_15">
                                            <div class="row">

                                                <div class="col-sm-10 pad5 ">
                                                    <div class="form-group bmd-form-group required_item">
                                                        <input type="text" name="role_name" value="{{data.role_name}}" class="input form-control getVal" >
                                                        <label class="inputText"> Name</label>
                                                    </div>
                                                </div>
                                              
                                                <div class="col-md-3">
                                                    <div class="user_daterangpickrbox expirationbox m-t-10-imprtnt">
                    
                                                        <h3 class="big_title2">Status</h3>
                    
                                                        <div class="input-daterange" id="date-range">
                                                            <div class="form-group bmd-form-group m-t-8">
                                                                <!--                                                        <label class="">Gender</label>-->
                    
                                                              

                                                                
                                                                <div class="radio radio-info float_left_radio">
                                                                    <input name="role_status" type="radio" value="True" id="customRadio1" {% if data.status == "True" %} checked {% else %} {% endif %}  name="role_status">
                                                                    <label for="customRadio1">Active</label>
                                                                </div>
                                                                <div class="radio radio-info">
                                                                    <input name="role_status" type="radio" value="False" name="role_status" id="customRadio2">
                                                                    <label for="customRadio2">Inactive </label>
                                                                </div>
                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               

                                             

                                             


                                            
                                            </div>
                                        </div>
                                        <div class="col-md-6 colp_l_15">
                                            <div class="row">

                                                <div class="col-sm-12 pad5">
                                                    <div class="form-group bmd-form-group">
                                                    <textarea rows="2"
                                                              class="form-control input_textaerea tstarea" name="description">{{data.description}}</textarea>
                                                        <label class="inputText">Notes</label>
                                                    </div>
                                                </div>
                                
                                               

                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!--**************************************************************************-->
                            <h4 data-toggle="collapse" href="#work" class="sub_hdng_edit"><i class="fa fa-chevron-down"></i> Company Permission</h4>
                            <div id="work" class="panel-collapse collapse show ">
                                <div class="m-t-30 m-b-15 col-12">
                                    <table id="educationdatatable"
                                    class="table table-bordered dt-responsive nowrap table-hover"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                 <thead>
                                 <tr>

                                     <th>Read</th>
                                     <th>Write</th>
                                     <th>Edit</th>
                                     <th>Delete</th>
                                     <th>View All</th>
                                     <th>Manage All</th>
                                  
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr>
                                     <td>
                                     
                                      
                                            <input id="company_read" name="company_read" {% if data_company_permission.read == "on" %} checked  {% else %} {% endif %}  type="checkbox" >
                                           
                                           
                                        
                                    </td>
                                     <td>
                                   
                                        <input id="company_write" name="company_write" {% if data_company_permission.write == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     <td><input id="company_edit" name="company_edit" {% if data_company_permission.edit == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     <td><input id="company_delete" name="company_delete" {% if data_company_permission.delete == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     <td><input id="company_view_all" name="company_view_all" {% if data_company_permission.view_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     <td><input id="company_manage_all" name="company_manage_all" {% if data_company_permission.manage_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                  
                                   

                                 </tr>
                              
                              
                           
                               

                         
                            
                               
                          
                         
                         
                    
                                 </tbody>
                             </table>
                                </div>
                            </div>
                          
                            <div class="clearfix"></div>
                            <!--**************************************************************************-->
                            <h4 data-toggle="collapse" href="#work" class="sub_hdng_edit"><i class="fa fa-chevron-down"></i> Role Permission</h4>
                            <div id="work" class="panel-collapse collapse show ">
                                <div class="m-t-30 m-b-15 col-12">
                                    <table id="educationdatatable"
                                    class="table table-bordered dt-responsive nowrap table-hover"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                 <thead>
                                 <tr>

                                     <th>Read</th>
                                     <th>Write</th>
                                     <th>Edit</th>
                                     <th>Delete</th>
                                     <th>View All</th>
                                     <th>Manage All</th>
                                  
                                 </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                        <td>
                                        
                                         
                                               <input id="role_read" name="role_read" {% if data_Role_permission.read == "on" %} checked  {% else %} {% endif %}  type="checkbox" >
                                              
                                              
                                           
                                       </td>
                                        <td>
                                      
                                           <input id="role_write" name="role_write" {% if data_Role_permission.write == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="role_edit" name="role_edit" {% if data_Role_permission.edit == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="role_delete" name="role_delete" {% if data_Role_permission.delete == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="role_view_all" name="role_view_all" {% if data_Role_permission.view_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="role_manage_all" name="role_manage_all" {% if data_Role_permission.manage_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     
                                      
   
                                    </tr>
                                 
                              
                              
                           
                               

                         
                            
                               
                          
                         
                         
                    
                                 </tbody>
                             </table>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!--**************************************************************************-->
                            <h4 data-toggle="collapse" href="#work" class="sub_hdng_edit"><i class="fa fa-chevron-down"></i> Employee Permission</h4>
                            <div id="work" class="panel-collapse collapse show ">
                                <div class="m-t-30 m-b-15 col-12">
                                    <table id="educationdatatable"
                                    class="table table-bordered dt-responsive nowrap table-hover"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                 <thead>
                                 <tr>

                                     <th>Read</th>
                                     <th>Write</th>
                                     <th>Edit</th>
                                     <th>Delete</th>
                                     <th>View All</th>
                                     <th>Manage All</th>
                                  
                                 </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                        <td>
                                        
                                         
                                               <input id="employee_read" name="employee_read" {% if data_Employee_permission.read == "on" %} checked  {% else %} {% endif %}  type="checkbox" >
                                              
                                              
                                           
                                       </td>
                                        <td>
                                      
                                           <input id="employee_write" name="employee_write" {% if data_Employee_permission.write == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="employee_edit" name="employee_edit" {% if data_Employee_permission.edit == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="employee_delete" name="employee_delete" {% if data_Employee_permission.delete == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="employee_view_all" name="employee_view_all" {% if data_Employee_permission.view_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="employee_manage_all" name="employee_manage_all" {% if data_Employee_permission.manage_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     
                                      
   
                                    </tr>
                              
                              
                           
                               

                         
                            
                               
                          
                         
                         
                    
                                 </tbody>
                             </table>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <!--**************************************************************************-->
                            <h4 data-toggle="collapse" href="#work" class="sub_hdng_edit"><i class="fa fa-chevron-down"></i> User Permission</h4>
                            <div id="work" class="panel-collapse collapse show ">
                                <div class="m-t-30 m-b-15 col-12">
                                    <table id="educationdatatable"
                                    class="table table-bordered dt-responsive nowrap table-hover"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                 <thead>
                                 <tr>

                                     <th>Read</th>
                                     <th>Write</th>
                                     <th>Edit</th>
                                     <th>Delete</th>
                                     <th>View All</th>
                                     <th>Manage All</th>
                                  
                                 </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                        <td>
                                        
                                         
                                               <input id="user_read" name="user_read" {% if data_User_permission.read == "on" %} checked  {% else %} {% endif %}  type="checkbox" >
                                              
                                              
                                           
                                       </td>
                                        <td>
                                      
                                           <input id="user_write" name="user_write" {% if data_User_permission.write == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="user_edit" name="user_edit" {% if data_User_permission.edit == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="user_delete" name="user_delete" {% if data_User_permission.delete == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="user_view_all" name="user_view_all" {% if data_User_permission.view_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="user_manage_all" name="user_manage_all" {% if data_User_permission.manage_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     
                                      
   
                                    </tr>
                              
                           
                               

                         
                            
                               
                          
                         
                         
                    
                                 </tbody>
                             </table>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <!--**************************************************************************-->
                            <h4 data-toggle="collapse" href="#work" class="sub_hdng_edit"><i class="fa fa-chevron-down"></i> Leave Permission</h4>
                            <div id="work" class="panel-collapse collapse show ">
                                <div class="m-t-30 m-b-15 col-12">
                                    <table id="educationdatatable"
                                    class="table table-bordered dt-responsive nowrap table-hover"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                 <thead>
                                 <tr>

                                     <th>Read</th>
                                     <th>Write</th>
                                     <th>Edit</th>
                                     <th>Delete</th>
                                     <th>View All</th>
                                     <th>Manage All</th>
                                  
                                 </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                        <td>
                                        
                                         
                                               <input id="leave_read" name="leave_read" {% if data_leave_permission.read == "on" %} checked  {% else %} {% endif %}  type="checkbox" >
                                              
                                              
                                           
                                       </td>
                                        <td>
                                      
                                           <input id="leave_write" name="leave_write" {% if data_leave_permission.write == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="leave_edit" name="leave_edit" {% if data_leave_permission.edit == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="leave_delete" name="leave_delete" {% if data_leave_permission.delete == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="leave_view_all" name="leave_view_all" {% if data_leave_permission.view_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="leave_manage_all" name="leave_manage_all" {% if data_leave_permission.manage_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     
                                      
   
                                    </tr>
                              
                           
                               

                         
                            
                               
                          
                         
                         
                    
                                 </tbody>
                             </table>
                                </div>
                            </div>



                            <div class="clearfix"></div>
                            <!--**************************************************************************-->
                            <h4 data-toggle="collapse" href="#work" class="sub_hdng_edit"><i class="fa fa-chevron-down"></i> Petty Cash Permission</h4>
                            <div id="work" class="panel-collapse collapse show ">
                                <div class="m-t-30 m-b-15 col-12">
                                    <table id="educationdatatable"
                                    class="table table-bordered dt-responsive nowrap table-hover"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                 <thead>
                                 <tr>

                                     <th>Read</th>
                                     <th>Write</th>
                                     <th>Edit</th>
                                     <th>Delete</th>
                                     <th>View All</th>
                                     <th>Manage All</th>
                                  
                                 </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                        <td>
                                        
                                         
                                               <input id="petty_read" name="petty_read" {% if data_petty_cash_permission.read == "on" %} checked  {% else %} {% endif %}  type="checkbox" >
                                              
                                              
                                           
                                       </td>
                                        <td>
                                      
                                           <input id="petty_write" name="petty_write" {% if data_petty_cash_permission.write == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="petty_edit" name="petty_edit" {% if data_petty_cash_permission.edit == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="petty_delete" name="petty_delete" {% if data_petty_cash_permission.delete == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="petty_view_all" name="petty_view_all" {% if data_petty_cash_permission.view_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                        <td><input id="petty_manage_all" name="petty_manage_all" {% if data_petty_cash_permission.manage_all == "on" %} checked  {% else %} {% endif %}   type="checkbox" ></td>
                                     
                                      
   
                                    </tr>
                              
                           
                               

                         
                            
                               
                          
                         
                         
                    
                                 </tbody>
                             </table>
                                </div>
                            </div>
                            <!--*****************************************************-->
               
                            <!--*****************************************************-->

                   
                            <!--*****************************************************-->

                     
                            <!--*****************************************************-->

                           
                            <!--*****************************************************-->
                      
                            <!--*****************************************************-->
                  
                            <!--*****************************************************-->
                     
               
                            <!--*****************************************************-->

                            <button style="    padding: 10px 27px;
                            margin: 12px 12px;
                            background: #2b2c42;
                            color: white;
                            border: none;
                            border-radius: 10px;" type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#company_view_all").click(function(){
        var status =  $(this).is(":checked")
        if (status == true){
            document.getElementById("company_read").checked = true;
        }
        else{
            document.getElementById("company_read").checked = false;
        }

       
        
    })
    $("#company_manage_all").click(function(){
        var status =  $(this).is(":checked")
       if(status == true){
        document.getElementById("company_read").checked = true;
        document.getElementById("company_write").checked = true;
        document.getElementById("company_edit").checked = true;
        document.getElementById("company_delete").checked = true;
        document.getElementById("company_view_all").checked = true;
        document.getElementById("company_manage_all").checked = true;

       }
       else{
        document.getElementById("company_read").checked = false;
        document.getElementById("company_write").checked = false;
        document.getElementById("company_edit").checked = false;
        document.getElementById("company_delete").checked = false;
        document.getElementById("company_view_all").checked = false;
        document.getElementById("company_manage_all").checked = false;
       }
    })
</script>

<script>
    $("#role_view_all").click(function(){
        var status =  $(this).is(":checked")
        if (status == true){
            document.getElementById("role_read").checked = true;
        }
        else{
            document.getElementById("role_read").checked = false;
        }
    })

    $("#role_manage_all").click(function(){
        var status =  $(this).is(":checked")
       if(status == true){
        document.getElementById("role_read").checked = true;
        document.getElementById("role_write").checked = true;
        document.getElementById("role_edit").checked = true;
        document.getElementById("role_delete").checked = true;
        document.getElementById("role_view_all").checked = true;
        document.getElementById("role_manage_all").checked = true;

       }
       else{
        document.getElementById("role_read").checked = false;
        document.getElementById("role_write").checked = false;
        document.getElementById("role_edit").checked = false;
        document.getElementById("role_delete").checked = false;
        document.getElementById("role_view_all").checked = false;
        document.getElementById("role_manage_all").checked = false;
       }
    })
</script>
<script>

    $("#employee_view_all").click(function(){
        var status =  $(this).is(":checked")
        if (status == true){
            document.getElementById("employee_read").checked = true;
        }
        else{
            document.getElementById("employee_read").checked = false;
        }

    })
    $("#employee_manage_all").click(function(){
        var status =  $(this).is(":checked")
       if(status == true){
        document.getElementById("employee_read").checked = true;
        document.getElementById("employee_write").checked = true;
        document.getElementById("employee_edit").checked = true;
        document.getElementById("employee_delete").checked = true;
        document.getElementById("employee_view_all").checked = true;
        document.getElementById("employee_manage_all").checked = true;

       }
       else{
        document.getElementById("employee_read").checked = false;
        document.getElementById("employee_write").checked = false;
        document.getElementById("employee_edit").checked = false;
        document.getElementById("employee_delete").checked = false;
        document.getElementById("employee_view_all").checked = false;
        document.getElementById("employee_manage_all").checked = false;
       }
    })
</script>

<script>
    $("#user_view_all").click(function(){
        var status =  $(this).is(":checked")
        if (status == true){
            document.getElementById("user_read").checked = true;
        }
        else{
            document.getElementById("user_read").checked = false;
        }
    })


    $("#user_manage_all").click(function(){
       
        var status =  $(this).is(":checked")
       
       if(status == true){
        document.getElementById("user_read").checked = true;
        document.getElementById("user_write").checked = true;
        document.getElementById("user_edit").checked = true;
        document.getElementById("user_delete").checked = true;
        document.getElementById("user_view_all").checked = true;
        document.getElementById("user_manage_all").checked = true;

       }
       else{
        document.getElementById("user_read").checked = false;
        document.getElementById("user_write").checked = false;
        document.getElementById("user_edit").checked = false;
        document.getElementById("user_delete").checked = false;
        document.getElementById("user_view_all").checked = false;
        document.getElementById("user_manage_all").checked = false;
       }
    })
</script>
{% endblock %}