{% extends "super_admin/menu.html" %}

{% load static %}

{% block content %}



<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="box_header">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <div class="mainiconbox"><i class="fa fa-user"></i>
                            </div>
                            <h4 class="m-t-0 header-title">
                                <div class="breadcrumbs ng-scope">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a>Settings</a></li>
                                        <li><a>User Settings</a></li>
                                    </ul>
                                    <div>User Settings</div>
                                </div>
                            </h4>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="pull-right p-t-10">

                                <a data-toggle="modal" class="btn btn-info newbtn_crete" data-target="#newuser"> <i class="mdi mdi-plus-circle-outline"></i> New
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box ">
                    <div class="table_rspnsv" id="tableview">
                        <div class="row2 tbl_stngs commen_table">

                            <table id="datatable" class="table table-bordered dt-responsive nowrap table-hover" style="width: 100%;">

                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Employee ID</th>
                                    <th>Branch</th>
                                    <th >Department</th>
                                    <th>Employee Name</th>
                                 
                                    <th>Created At</th>
                                    
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for user in all_user_data %}
                                <tr>
                                    <td><a class="label-default" href="#/">{{user.username}}</a></td>
                                    <td>
                                        {% if user.employee_id == '' %}
                                     
                                        {% else %}
                                        {{user.employee_id}}
                                        {% endif %}
                                        
                                      



                                    </td>
                                    <td>
                                        {% if user.employee_branch == '' %}
                                     

                                        {% elif user.employee_branch == 'false' %}
                                     
                                        {% else %}
                                        {{user.employee_branch|title}}
                                        {% endif %}
                                        
                                      
                                    
                                    
                                    </td>
                                    <td>
                                        {% if user.employee_department == '' %}
                                      

                                        {% elif user.employee_department == 'false'  %}
                                      
                                        {% else %}
                                        {{user.employee_department|title}}
                                        {% endif %}
                                        
                                        
                                        
                                    
                                    
                                    </td>
                                    <td>
                                        {% if user.employee_name == '' %}
                                       
                                        {% else %}
                                        {{user.employee_name}}
                                        {% endif %}
                                        
                                        
                                      



                                    </td>
                                  
                                    <td>{{user.dt}}<br>{{user.tm}}</td>
                                    <td>
                                        <a class="label-default edit_user_action" data-id="{{user.id}}" href="#"> <i class="fa fa-pencil"></i> </a>
                                        <a class="label-default" href="view_user_more_details?id={{user.id}}"> <i class="fa fa-eye"></i> </a>
                                    </td>

                                </tr>
                                {% endfor %}
                           
                       

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
</div>
</div>
<style>
    .modal-body{
    height: 100%;
    overflow-x: auto;
}

@media (min-height: 500px) {
    .modal-body { height: 580px; }
}

@media (min-height: 800px) {
    .modal-body { height: 800px; }
}
</style>
<div class="modal modal-right fade" id="newuser"  role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-full" >
<!-- <div id="newuser" class="modal fade" role="dialog" data-backdrop="static">
<div class="modal-dialog modal_large"> -->
<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User</h4>
        <div class="pull-right"> <a class="btn enlarge_modal" data-toggle="tooltip" data-original-title="Fullscreen"><i
                        class="mdi mdi-crop-free" aria-hidden="true"></i> </a>
            <a class="btn dslarge_modal" data-toggle="tooltip" data-original-title="Back"><i
                        class="mdi mdi-arrow-expand-all" aria-hidden="true"></i> </a>
        </div>
    </div>
    <form action="user_add_action" method="POST">
        
        {% csrf_token %}
    <div class="modal-body">

            <div class="col-md-12">
                <div class="row m-t-15">
                    <div class="col-md-6 colp_r_15">
                        <div class="row">
                            <div class="col-md-12 pad5 ">
                                <div class="form-group bmd-form-group required_item">
                                    <input required name="username" type="email" class="input form-control">
                                    <label class="inputText">Username</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="user_daterangpickrbox expirationbox m-t-10-imprtnt">

                                    <h3 class="big_title2">Password Generate Option</h3>

                                    <div class="input-daterange" id="date-range">
                                        <div class="form-group bmd-form-group m-t-8">
                                            <!--                                                        <label class="">Gender</label>-->

                                          
                                                
                                            
                                            <div class="radio radio-info float_left_radio">
                                                <input name="password_option"  type="radio" id="automatically" value="Automatic" >
                                                <label for="automatically" >Automatic</label>
                                            </div>
                                            <div class="radio radio-info">
                                                <input name="password_option"  type="radio" id="manually" value="Manual" >
                                                <label for="manually" >Manual</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"  id="password-div" style="display: none">
                                <div class="user_daterangpickrbox expirationbox m-t-10-imprtnt">
                                    <h3 class="big_title2">Password </h3>
                                <div class="form-group bmd-form-group required_item">
                                    <input name="password" type="password" class="input form-control">
                                    
                                </div>
                                </div>
                            </div>
                            <div class="col-md-12 ">
                                <div class="form-group"> <label>Select Employee</label> <select name="employee_id" class="form-control select2 select2-hidden-accessible" id="emp_name" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option selected="selected" value="0">Select Employee Name</option>

                                    {% for employee in select_employee_api %}
                                    <option value="{{employee.id}}" >{{employee.name}} {{employee.registration_number}}</option>
                                    {% endfor %}
                                    
                                 
                                </select> </div> <!-- /.form-group -->
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group required_item">
                                        <input style="    background: #2b2c422b;
                                        color: black;" name="employee_branch" readonly id="emp_branch" type="text" class="input form-control">
                                        <label class="inputText openselect2">Branch</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group required_item">
                                        <input style="    background: #2b2c422b;
                                        color: black;" name="employee_department" readonly id="emp_dpt" type="text" class="input form-control">
                                        <label class="inputText openselect2">Department</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group required_item">
                                        <input style="    background: #2b2c422b;
                                        color: black;" name="employee_name" readonly id="empl_name" type="text" class="input form-control">
                                        <label class="inputText openselect2">Employee Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group required_item">
                                        <input style="    background: #2b2c422b;
                                        color: black;" name="emp_registration_id" readonly id="emp_registration_id" type="text" class="input form-control">
                                        <label class="inputText openselect2">Employee Registration No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group required_item">
                                        <input style="    background: #2b2c422b;
                                        color: black;" name="company_name" readonly id="company_name" type="text" class="input form-control">
                                        <label class="inputText openselect2">Company Name</label>
                                    </div>
                                </div>
                            </div>
                          
                            <!-- <div class="col-md-6 pad5">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group required_item">
                                        <input type="text" class="input form-control">
                                        <label class="inputText openselect2">Re-type Password</label>
                                    </div>
                                </div>
                            </div> -->
                        
                        </div>
                    </div>
                    <div class="col-md-6 colp_l_15">
                        <div class="row">
                            <div class="col-md-12 pad5 mt-4">
                                <div class="form-group">
                                    <textarea name="description" rows="1" class="form-control input_textaerea tstarea"></textarea>
                                    <label class="bmd-label-floating inputText">Description</label>
                                </div>
                            </div>
                            <div class="col-md-6 colp_r_15 mt-4">
                                <div class="user_daterangpickrbox expirationbox">
                                    <div class="">
                                        <h3 class="big_title2">Password Expiration</h3>
                                    </div>
                                    <div class="form-group">
                                        <div class="radio">
                                            <input name="password_expiration_status" value="days" type="radio" id="passwd_day">
                                            <label for="passwd_day" id="passwd_day_btn">Days</label> <span>
                                            <input type="number" class="password_day_countbox hide "
                                                   style="max-width: 50px;margin-left: 20px"> </span>
                                        </div>
                                        <div class="radio">
                                            <input name="password_expiration_status" type="radio" value="none" id="passwd_no_expire" checked="">
                                            <label for="passwd_no_expire" id="passwd_no_expire1">None</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4" id="total_days_div" style="display: none">
                                <select name="passsword_used_days" class="form-control mt-2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                     <option>10</option>
                                     <option>11</option>
                                     <option>12</option>
                                     <option>13</option>
                                     <option>14</option>
                                     <option>15</option>
                                     <option>16</option>
                                     <option>17</option>
                                     <option>18</option>
                                     <option>19</option>
                                     <option>20</option>

                                </select>
                                <label class="inputText openselect2">Select Days</label>
                            </div>

                                <div class="col-md-10 m-t-18" >
                                    <div class="user_daterangpickrbox expirationbox">
                                        <div class="">
                                            <h3 class="big_title2">Effective Date</h3>
                                        </div>
                                        <div class="input-daterange p-t-15" id="date-range">
                                            <div class="row">
                                                <div class="col-md-6 pad5">
                                                    <div class="input-group bmd-date-group">
                                                        <input name="password_effective_from_dt" value="{{today|safe}}" type="date" class="form-control input"  />
                                                        <label class="bmd-label-floating inputText labl_insd">From</label>
                                                        <div class="input-group-append">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pad5 ">
                                                    <div class="input-group ">
                                                        <input name="password_effective_to_dt"   type="date" class="form-control input"  />
                                                        <label class="bmd-label-floating inputText labl_insd">To</label>
                                                        <div class="input-group-append">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                          

                        </div>
                    </div>
                </div>
            </div>
            <div class="row expirationbox mt-4">
                <div class="col-12">
                    <div class="row">
                        <h4 class="modal_sub_hdng">Roles</h4>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="form-group">  <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                       {% for role in  role_data %}
                            <option value="{{role.id}}">{{role.role_name}}</option>
                       {% endfor %}
                    </select> </div>
                </div> -->
                <div class="col-12 ">
                    <div class="container-fluid">
                     
                        <table class="table scrolbaletable" border="2" style="border: 1px solid #ccc;">
                            <tr>
                                <th class="th_btnpand">
                                    <div class="appnd_user_btn append_btn">+</div>
                                </th>
                                <th class="th_user_role">Role</th>
                                <th class="th_user_decrptn">Description</th>
                                <th class="th_user_strtdate">Start Date</th>
                                <th class="th_user_enddate">End Date</th>
                            </tr>
                            <tbody class="apenduser">

                            <tr>
                                <td class="th_btnpand">
                                    <div class="appnd_user_minus_btn appnd_minus_btn">-</div>
                                </td>
                                <td class="th_user_role">
                                    <select class="form-control" name="role_id[]">
                                        {% for role in  role_data %}
                                <option value="{{role.id}}">{{role.role_name}}</option>
                           {% endfor %}
                                    </select>
                                </td>
                                <td class="th_user_decrptn">
                                    <input name="role_description[]" class="form-control">
                                </td>
                                <td class="th_user_strtdate">
                                    <div class="input-group date">
                                    
                                        <input  name="role_start_dt[]" value="{{today|safe}}" type="date" class="input form-control" >
                                       
                                    </div>
                                </td>
                                <td class="th_user_enddate">
                                    <div class="input-group date">
                                        <input  name="role_end_dt[]" type="date"  class="input form-control" >
                                       
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>
      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info" >Save</button>
    </div>
    </form>
</div>
</div>
</div>



<script src="{% static 'adminnew/js/custome.js' %}"></script>
<script src="{% static 'adminnew/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminnew/js/metisMenu.min.js' %}"></script>
<script src="{% static 'adminnew/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'adminnew/js/moment.js' %}"></script>
<script src="{% static 'adminnew/js/bootstrap-timepicker.js' %}"></script>
<script src="{% static 'adminnew/js/bootstrap-datetimepicker.min.js' %}"></script>
<!--<script src="js/moment.js"></script>-->

<script src="{% static 'adminnew/js/jquery.core.js' %}"></script>
<script src="{% static 'adminnew/js/jquery.app.js' %}"></script>


<script>
$(window).scroll(function () {
var scroll = $(window).scrollTop();
if (scroll >= 0) {
    $("html").addClass("modal-open2");
}
});
</script>
<script>
$(document).ready(function() {
// Check if body height is higher than window height :)
if ($("body").height() > $(window).height()) {
    // alert('asda')
    $('html').addClass('modal-open2');
}
});
</script>



<script>
let eleBtnStart = document.querySelector("#btnStart");
let eleBtnStop = document.querySelector("#btnStop");
let eleTimer = document.querySelector("#divTimer");

let timeTicker = (() => {
var hours = minutes = seconds = 0;
var timerTick;
return {
    start : () => {
        if(!timerTick) {
            timerTick = setInterval(() => {
                seconds++;
                if(seconds == 60) {
                    minutes += 1;
                    seconds = 0;
                    if(minutes == 60) {
                        hours += 1;
                        minutes = 0;
                    }
                }
                eleTimer.innerHTML = `
${hours.toString().length == 1 ? "0" + hours : hours}
: ${minutes.toString().length == 1 ? "0" + minutes:minutes} Hrs`;
            },25);
        }
    },
    stop : () => {
        if(timerTick) {
            clearInterval(timerTick);
            timerTick = false;
        }
    },
    reset : () => {
        seconds = minutes = hours = 0;
        clearInterval(timerTick);
        timerTick = false;
        eleTimer.innerHTML = `0${hours}:0${minutes}  Hrs`;
    }
}
})();
eleBtnStart.addEventListener('click', () => {
timeTicker.start();
});
eleBtnStop.addEventListener('click', () => {
timeTicker.stop();
});

$('#btnStart').click(function (){
$(this).closest('.timer').addClass('timer_actv')
});
$('#btnStop').click(function (){
$(this).closest('.timer').removeClass('timer_actv')
});

$('.timerbtn_start').click(function (){
$(this).addClass('disnone_timer')
$(this).siblings('.timerbtn').addClass('timerbtn_stop');
$(this).parent().siblings('.divTimer').addClass('divTimer_dsplay')

});
$('.timerbtn_stop').click(function (){
$(this).removeClass('timerbtn_stop')
$(this).siblings('.timerbtn').removeClass('disnone_timer');
$(this).parent().siblings('.divTimer').removeClass('divTimer_dsplay')
});


</script>
<script>
$(document).ready(function () {
$(window).click(function() {
    var scroll = $(window).scrollTop();
    if (scroll >= 0) {
        $("#wrapper").addClass("modal-open2");
    }
});
});
</script>
<script src="{% static 'adminnew/js/jquery.min.js' %}"></script>
<script src="{% static 'adminnew/js/jquery.core.js'  %}"></script>
<script src="{% static 'adminnew/js/jquery.app.js' %}"></script>
<!-- App js -->
<script src="{% static 'adminnew/js/select2.full.js' %}"></script>
<script src="{% static 'adminnew/js/select2-custome.js' %}"></script>


<script src="{% static 'adminnew/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminnew/js/dataTables.bootstrap4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {

// Default Datatable
$('#datatable').DataTable();
$('#responsive-datatable').DataTable();

$('#datetimepickereffcet-start').datetimepicker({
    format: 'DD-MM-YYYY'
});
$('#datetimepickereffcet-end').datetimepicker({
    format: 'DD-MM-YYYY',
    useCurrent: false //Important! See issue #1075
});
$("#datetimepickereffcet-start").on("dp.change", function(e) {
    $('#datetimepickereffcet-end').data("DateTimePicker").minDate(e.date);
});
$("#datetimepickereffcet-end").on("dp.change", function(e) {
    $('#datetimepickereffcet-start').data("DateTimePicker").maxDate(e.date);
});

$('#datetimepicker-role-start').datetimepicker({
    format: 'DD-MM-YYYY'
});
$('#datetimepicker-role-end').datetimepicker({
    format: 'DD-MM-YYYY',
    useCurrent: false //Important! See issue #1075
});
$("#datetimepicker-role-start").on("dp.change", function(e) {
    $('#datetimepicker-role-end').data("DateTimePicker").minDate(e.date);
});
$("#datetimepicker-role-end").on("dp.change", function(e) {
    $('#datetimepicker-role-start').data("DateTimePicker").maxDate(e.date);
});

});
</script>

<script type="text/javascript">
$(document).ready(function() {
$(".appnd_user_btn").click(function() {


    $(".apenduser").append("<tr>\n" +
        "                                    <td class=\"th_btnpand\">\n" +
        "                                        <div class=\"appnd_user_minus_btn appnd_minus_btn\">-</div>\n" +
        "                                    </td>\n" +
        "                                    <td class=\"th_user_role\">\n" +
        "                                        <select name=\"role_id[]\" class=\"form-control\">\n" +
        "                                            {% for role in  role_data %}\n" +
        "                                           <option value=\"{{role.id}}\">{{role.role_name}}</option>\n" +
        "                                           {% endfor %}\n" +
        "                                        </select>\n" +
        "                                    </td>\n" +
        "                                    <td class=\"th_user_decrptn\">\n" +
        "                                        <input name=\"role_description[]\" class=\"form-control\">\n" +
        "                                    </td>\n" +
        "                                    <td class=\"th_user_strtdate\">\n" +
        "                                        <div class=\"input-group date\">\n" +
        "                                            <input name=\"role_start_dt[]\" value=\"{{today|safe}}\" type=\"date\" class=\"input form-control\" id=\"datetimepicker\"> \n" +
        "                                        </div>\n" +
        "                                    </td>\n" +
        "                                    <td class=\"th_user_enddate\">\n" +
        "                                        <div class=\"input-group date\">\n" +
        "                                            <input name=\"role_end_dt[]\" type=\"date\"  class=\"input form-control\" id=\"datetimepicker\"> \n" +
        "                                        </div>\n" +
        "                                    </td>\n" +
        "                                </tr>");
    $(".appnd_user_minus_btn").click(function() {
        $(this).parent().parent().remove();
    });
});
});
</script>


<script>

    $("#passwd_day_btn").click(function(){
       
        $("#total_days_div").show();
    })

    $("#passwd_no_expire1").click(function(){    
        $("#total_days_div").hide();

      
    })
</script>


<script>

    $("#manually").click(function(){
        $("#password-div").show();
    })
</script>
<script>
    $("#automatically").click(function(){
        $("#password-div").hide();
    })
</script>

<script>
    
    $("#emp_name").change (function () {  
       
        var selectedemploye_name = $(this).children("option:selected").val();  

        
       
        
        $.ajax({
            url: 'getemployee_branch_dpt',
            // datatype: 'json',
            data: {
                'employee_id': selectedemploye_name       
            },
            type: 'GET',
            success: function (data) {  

                console.log("hhhhhhhhhhhhhh")
                console.log(data['employee_branch'])
                $("#emp_branch").val(data['employee_branch'])
                $("#emp_dpt").val(data['employee_dpt'])
                $("#empl_name").val(data['employee_name'])
                $("#emp_registration_id").val(data['emp_registration_id'])
                $("#company_name").val(data['company_name'])

          
                
            }
            
        });
    })
</script>

<div id="user_edit_div">

</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
var message = `{{message}}`



if(message == "added"){

    Swal.fire({
  icon: 'success',
  title: 'add...',
  text: 'create new user data successfully',
 
})
}

else if(message == "already_exists"){
    Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'User  already exists!',
 
})
}

</script>

<script>
    $(".edit_user_action").click(function(){
        var id = $(this).attr("data-id")
        var url ="user_edit_modal_function";
        $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'id': id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#user_edit_div").html(data);  // replace the contents of the city input with the data that came from the server

           $("#edituser").modal("show")

        }
      });
    })
</script>



{% if messages %}
   <script>
    {% for message in messages %}
        message1 = "{{message}}"
    
       
        if(message1 == "error"){

            Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "{{ message }}",
 
})



        }
        else {

            Swal.fire({
                icon: 'success',
  title: 'create new user data successfully...',
  text: message1,
 
})
      
        }
    {% endfor %}
   </script>
{% endif %}

{% endblock %}