{% extends "super_admin/menu.html" %}

{% load static %}

{% block content %}

<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="box_header">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <div class="mainiconbox"><i class="fa fa-black-tie"></i>
                            </div>
                            <h4 class="m-t-0 header-title">
                                <div class="breadcrumbs ng-scope">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a>Leave History</a></li>
                                        <li><a>More Details</a></li>
                                    </ul>
                                    <div>Leave Details</div>
                                </div>
                            </h4>
                        </div>

                        <div class="col-md-5 col-12">
                            <!-- <div class="pull-right p-t-10">
                                <a data-toggle="modal" class="btn btn-info newbtn_crete" data-target="#newsrole"> <i class="mdi mdi-plus-circle-outline"></i> New
                                </a>
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="card-box ">
                    <div class="card-box ">
                 

                        <div class="row">

                            <div class="col-md-12">
                                <h1 style="    font-weight: bold;
                                font-size: 30px;">
                                    {{r1.holiday_status_id.1}}
                                </h1>


                            </div>

                            <div class="col-md-6 mt-4">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <p style="    font-weight: bold;font-size: 14px;">Employee</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p style="      border-style: groove;
                                        text-align: left;
                                        border-radius: 12px;
                                        padding: 3px 12px;
                                    ">{{emp_name}}</p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <p style="    font-weight: bold;font-size: 14px;">Date</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p style=" padding: 3px 12px;  
                                    ">{{r1.request_date_from}} To {{r1.request_date_to}}</p>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <p style="    font-weight: bold;font-size: 14px;">Description</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p style=" padding: 3px 12px;  
                                    ">{% if r1.name == False %} 
                                    
                                {% else %}
                                {{r1.name}}

                                {% endif %}
                                </p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <p style="    font-weight: bold;font-size: 14px;">Emergency Contact No During Leave</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p style=" padding: 3px 12px;  
                                    ">{{r1.alternative_conact_number}} </p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <p style="    font-weight: bold;font-size: 14px;">Replacer</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p style=" padding: 3px 12px;  
                                    ">
                                    {% if r1.replacer_id == False %}
                                    {% else %}
                                    {{r1.replacer_id}}
                                    {% endif %}
                                    
                                
                                </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4">
                                <div class="row mt-2">
                                    <div class="col-md-3">
                                        <p style="    font-weight: bold;font-size: 14px;">Leave Type</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p style="    
                                       
                                        padding: 3px 12px;
                                    ">  {{r1.holiday_status_id.1}}   <span style="    float: right;">{{r1.number_of_days}} Days</span> </p>
                                   

                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'adminnew/js/jquery.core.js' %}"></script>
<script src="{% static 'adminnew/js/jquery.app.js' %}"></script>
<!-- App js -->
<script src="{% static 'adminnew/js/select2.full.js' %}"></script>
<script src="{% static 'adminnew/js/select2-custome.js' %}"></script>


<script src="{% static 'adminnew/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminnew/js/dataTables.bootstrap4.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        // Default Datatable
        $('#datatable').DataTable();
        $('#datatable2').DataTable();
        $('#datatable3').DataTable();
        $('#responsive-datatable').DataTable();

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function() {
            readURL(this);
        });
    });
</script>
<script type="text/javascript">
    $(function() {
        $('#startDate').datetimepicker({
            format: 'DD-MM-YYYY'
        });
        $('#endDate').datetimepicker({
            format: 'DD-MM-YYYY',
            useCurrent: false //Important! See issue #1075
        });
        $("#startDate").on("dp.change", function(e) {
            $('#endDate').data("DateTimePicker").minDate(e.date);
        });
        $("#endDate").on("dp.change", function(e) {
            $('#startDate').data("DateTimePicker").maxDate(e.date);
        });
        $('#dateofBirth').datetimepicker({
            format: 'DD-MM-YYYY'
        });
    });
</script>
{% endblock %}