{% extends "super_admin/menu.html" %}

{% load static %}

{% block content %}

<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="box_header">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <div class="mainiconbox"><i class="fa fa-black-tie"></i>
                            </div>
                            <h4 class="m-t-0 header-title">
                                <div class="breadcrumbs ng-scope">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a>Notification</a></li>
                                   
                                    </ul>
                                    <div>All Notification Details</div>
                                </div>
                            </h4>
                        </div>

                        <div class="col-md-5 col-12">
                            <!-- <div class="pull-right p-t-10">
                                <a data-toggle="modal" class="btn btn-info newbtn_crete" data-target="#newsrole"> <i class="mdi mdi-plus-circle-outline"></i> New
                                </a>
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="card-box ">
                    <div class="card-box ">
                   
                    <div class="row">
                        {% for i in notifictaion %}

                        <div class="col-md-3 mt-4">
                            <div class="card " style="    background: #262435;
                            color: white;
                            border-radius: 18px;
                         ">
                                <div class="card-body">
                                    <div >
                                      
                                            <i style="    
                                           
                                           
                                            font-size: 43px;
                                            border-radius: 50px;
                                        " class="mdi mdi-comment-account-outline"></i>
                                       
                                    </div>
                                  <p class="card-text">{{i.message}} {{i.dt}} </p>
                                  <p style="    color: red;">
                                    Your Leave From {{i.requested_from_dt}} to {{i.requested_to_dt}}
                                  </p>
                                  <a style="    background: #16a516;
                                  padding: 4px 26px;
                                  font-size: 12px;
                                  border-radius: 12px;" href="#" class="btn btn-primary">{{i.status}}</a>
                                </div>
                              </div>
                        </div>

                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
            

{% endblock %}