{% extends "super_admin/menu.html" %}

{% load static %}

{% block content %}






<div class="content ">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-12">
                <div class="box_header">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <div class="mainiconbox"><i class="fa fa-user"></i>
                            </div>
                            <h4 class="m-t-0 header-title">
                                <div class="breadcrumbs ng-scope">
                                    <ul>
                                        <!-- <li><a href="index.html">Home</a></li>
                                        <li><a>Settings</a></li>
                                        <li><a>User More Details</a></li> -->
                                    </ul>
                                    <div style="    color: red;
                                    font-weight: bold;">Employee ID : {{data.employee_id}}</div>
                                </div>
                            </h4>
                        </div>
                        <div class="col-md-5 col-12">
                            
                        </div>
                    </div>
                </div>
                <div class="card-box ">
                    <div class="col-12 p-t-15">
                        <form>
                            <h4 data-toggle="collapse" href="#basic" class="sub_hdng_edit"><i
                                        class="fa fa-chevron-down"></i> Basic Detaiils</h4>
                            <div id="basic" class="panel-collapse collapse show">
                                <div class="m-t-30 m-b-15 acrdn_panel">
                                    <div class="row">
                                        <div class="col-md-6 colp_r_15">
                                            <div class="row">

                                                <div class="col-sm-10 pad5 ">
                                                    <div class="form-group bmd-form-group required_item">
                                                        <input type="text" value="{{data.username}}" class="input form-control getVal" >
                                                        <label class="inputText"> Username</label>
                                                    </div>
                                                </div>
                                              
                                                <div class="col-md-3">
                                                    <div class="user_daterangpickrbox expirationbox m-t-10-imprtnt">
                    
                                                        <h3 class="big_title2">Password Option</h3>
                    
                                                        <div class="input-daterange" id="date-range">
                                                            <div class="form-group bmd-form-group m-t-8">
                                                                <!--                                                        <label class="">Gender</label>-->
                    
                                                              

                                                                
                                                                <div class="radio radio-info float_left_radio">
                                                                    <input type="radio" value="True" id="customRadio1" {% if data.password_option == "Automatic" %} checked {% else %} {% endif %}  name="role_status1">
                                                                    <label for="customRadio1">Automatic</label>
                                                                </div>
                                                                <div class="radio radio-info">
                                                                    <input type="radio" value="False" {% if data.password_option == "Manual" %} checked {% else %} {% endif %} name="role_status1" id="customRadio2">
                                                                    <label for="customRadio2">Manual </label>
                                                                </div>
                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="user_daterangpickrbox expirationbox m-t-10-imprtnt">
                                                        <h3 class="big_title2">Password </h3>
                                                    <div class="form-group bmd-form-group required_item">
                                                        <input type="text" value="{{data.password}}" class="input form-control getVal" >
                                                        
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pad5  mt-4">
                                                    <div class="form-group bmd-form-group required_item">
                                                        <input type="text" value="{{data.employee_branch}}" class="input form-control getVal" >
                                                        <label class="inputText"> Employee Branch</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 pad5  mt-4">
                                                    <div class="form-group bmd-form-group required_item">
                                                        <input type="text" value="{{data.employee_department}}" class="input form-control getVal" >
                                                        <label class="inputText"> Employee Department</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pad5  mt-4">
                                                    <div class="form-group bmd-form-group required_item">
                                                        <input type="text" value="{{data.employee_name}}" class="input form-control getVal" >
                                                        <label class="inputText"> Employee Name</label>
                                                    </div>
                                                </div>
                                             


                                            
                                            </div>
                                        </div>
                                        <div class="col-md-6 colp_l_15">
                                            <div class="row">

                                                <div class="col-sm-12 pad5">
                                                    <div class="form-group bmd-form-group">
                                                    <textarea rows="2"
                                                              class="form-control input_textaerea tstarea">{{data.description}}</textarea>
                                                        <label class="inputText">Description</label>
                                                    </div>
                                                </div>
                                
                                                <div class="col-md-3">
                                                    <div class="user_daterangpickrbox expirationbox m-t-10-imprtnt">
                    
                                                        <h3 class="big_title2">Password Expiration</h3>
                    
                                                        <div class="input-daterange" id="date-range">
                                                            <div class="form-group bmd-form-group m-t-8">
                                                                <!--                                                        <label class="">Gender</label>-->
                    
                                                              

                                                                
                                                                <div class="radio radio-info float_left_radio">
                                                                    <input type="radio" value="True" id="customRadio1" {% if data.password_expiration_status == "days" %} checked {% else %} {% endif %}  name="role_status">
                                                                    <label for="customRadio1">Days</label>
                                                                </div>
                                                                <div class="radio radio-info">
                                                                    <input type="radio" value="False" {% if data.password_expiration_status == "none" %} checked {% else %} {% endif %} name="role_status" id="customRadio2">
                                                                    <label for="customRadio2">None </label>
                                                                </div>
                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="user_daterangpickrbox expirationbox m-t-10-imprtnt">
                    
                                                        <h3 class="big_title2">Password validity period</h3>
                    
                                                        <div class="input-daterange" id="date-range">
                                                            <div class="form-group bmd-form-group m-t-8">
                                                                <!--                                                        <label class="">Gender</label>-->
                    
                                                              

                                                                
                                                              <h1 style="color: #b32d3f;
                                                              font-size: 15px;
                                                              font-weight: bold;">{{data.password_effective_from_dt}} To {{data.password_effective_to_dt}}</h1>
                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!--**************************************************************************-->
                            <h4 data-toggle="collapse" href="#work" class="sub_hdng_edit"><i class="fa fa-chevron-down"></i>Role Details</h4>
                            <div id="work" class="panel-collapse collapse show ">
                                <div class="m-t-30 m-b-15 col-12">
                                    <table id="educationdatatable"
                                    class="table table-bordered dt-responsive nowrap table-hover"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                 <thead>
                                 <tr>

                                     <th>Role Name</th>
                                     <th>description</th>
                                     <th>
                                        Start Date
                                     </th>
                                     <th>
                                        End Date
                                     </th>
                                     <th>
                                        Created At
                                     </th>
                                     <th>
                                        Action
                                     </th>
                                    
                                  
                                 </tr>
                                 </thead>
                                 <tbody>
                                {% for role in user_role_details %}
                                 <tr>
                                    <td>
                                        {{role.role_id.role_name}}
                                    </td>
                                    <td>
                                        {{role.description}}
                                    </td>
                                    <td>

                                        {{role.start_dt}}
                                    </td>
                                    <td>
                                        {{role.end_dt}}
                                    </td>
                                    <td>
                                        {{role.dt}}<br>
                                        {{role.tm}}
                                    </td>
                                    <td>
                                       <a href="#" class="role_log" data-id="{{role.id}}"><i class="fa fa-history" aria-hidden="true"></i></a>
                                    </td>
                                    
                                 </tr>
                                 {% endfor %}
                              
                              
                           
                               

                         
                            
                               
                          
                         
                         
                    
                                 </tbody>
                             </table>
                                </div>
                            </div>
                          
                   
                            <!--*****************************************************-->
               
                            <!--*****************************************************-->

                   
                            <!--*****************************************************-->

                     
                            <!--*****************************************************-->

                           
                            <!--*****************************************************-->
                      
                            <!--*****************************************************-->
                  
                            <!--*****************************************************-->
                     
               
                            <!--*****************************************************-->

                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
<div id="role_log_history">

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(".role_log").click(function(){
        var id = $(this).attr("data-id")
      
        var url ="user_role_log_modal";
        $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'id': id       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#role_log_history").html(data);  // replace the contents of the city input with the data that came from the server

           $("#history_log_modal").modal("show")

        }
      });
    })
</script>

{% endblock %}